.modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    place-items: center;
    transition: all 0.2s;
    z-index: 1;
}

.modal-body {
    background-color: #1E1E1E;
    width: 40%;
    font-size: 16px;
    max-width: 100%;
    border-radius: 10px;
    position: absolute;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

}

.imagen-container {
    display: grid;
    place-items: center;
}

.imagen-detalle {
    width: 300px;
    aspect-ratio: 8/10;
}

.tag {
    background-color: #26e;
    color: #f2f2f2;
    padding: 4px 6px;
    margin-right: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 20px;
}

.data {
    display: grid;
    padding: 0 .5rem;
    gap: 10px;
    flex: 1;
    color: #f2f2f2;
}

.data .titulo {
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.titulo-seccion {
    font-weight: 500;

}

.data section {
    background-color: #454A54;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 4px 4px 4px #21212120;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.stats>section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
}

.puntos {
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    text-align: center;
}

.cerrar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(168, 36, 36);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}

.data .habilidad-pokemon {
    display: flex;
    background-color: green;
    
    justify-content: center;
    align-items: center;
}

.habilidad-pokemon {
    font-weight: 400;
    font-size: 20px;
    border-radius: 15px;
    padding: 2px 3px 3px 8px;
    margin-right: 24px;
    margin-top: 5px;
    text-align: center;
    list-style: none;

}


@media (width<= 1262px) {
    .modal-body {
        max-height: 70vh;
        width: 85%;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;


    }

    .imagen-container {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .imagen-detalle {
        max-width: 100%;
        height: 16rem;
    }

    .data {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .habilidad-pokemon {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .cerrar-button {
        flex-direction: column;
        align-items: center;
    }

}