.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


nav>svg {
    height: 4rem;
    width: 16rem;
}



.iluminacion {

    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.iluminacion>svg {

    height: 1.5rem;
    width: auto;

}

.iluminacion>label {

    background-color: #ccc;
    width: 4rem;
    height: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;


}

.iluminacion>label>span {

    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: #fff;
    transition: .5s;
}

.check-switch:checked+.slider {
    transform: translateX(2.5rem);
}